.datarow-bg {
    display: table-row;
}
.datarow-bg:hover {
    background-color:  #9fdfbf !important;
    cursor: pointer;    
}

.v-text-field .v-input__control .v-input__slot {
    height: 20px !important;
    display: flex !important;
    align-items: center !important;
  }

.errortext {
    color:red;
    font-weight: bold;
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.errortextShow {
    animation: fade 4s;
    opacity: 0;
}

/* Make content container scrollable, so there's no scrollbar beside the NAV */
html, body{
    overflow-y: hidden;
  }
  
  /* you might need to adjust pixel amount based on current screen width*/
  #content{
    height: calc(100vh - 56px);
    overflow-y: auto;
    background-color: #58a174;
  }
  .ardenform {
    background-color: #c6ccc9;
  }
